<div class="card">
    <div class="card-headder">
        <h3 class="text-center text-primary">EMPLOYEE REGISTER</h3>
    </div>
    <div class="card-body">
        <form action="#" (ngSubmit)="createEmployee()">
            <div class="form-group">
                <label>Employee Name</label>
                <input type="text" name="empName" id="empName" [(ngModel)]="employee.empName" class="form-control" />

            </div>
            <div class="form-group">
                <label>Employee Salary</label>
                <input type="text" name="empSal" id="empSal" [(ngModel)]="employee.empSal" class="form-control" />

            </div>
            <div class="form-group">
                <label>Employee Gender</label>
           <br/>
                <input type="radio" name="empGen" id="empGen1" [(ngModel)]="employee.empGen"  value="Female"/>Female
                <input type="radio" name="empGen" id="empGen2" [(ngModel)]="employee.empGen"  value="Male" />Male

            </div>

            <div class="form-group">
                <label>Employee Department</label>
                <select name="empDept" id="empDept" [(ngModel)]="employee.empDept" class="form-control">
                    <option value="">SELECT</option>
                    <option value="Dev">Dev</option>
                    <option value="QA">QA</option>
                    <option value="BA">BA</option>

                </select>

            </div>
            <div class="form-group">
                <label>Employee Address</label>
                <textarea name="empAddr" id="empAddr" [(ngModel)]="employee.empAddrs" class="form-control">
                   
                </textarea>
            </div>
            <button type="submit" class="btn btn-success">REGISTER</button>
        </form>

    </div>
    <div class="card-footer bg-success text-center" >
{{message}}
    </div>

</div>